@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Gestion</title>
    </head>
    <body>
        <div>
            <a href="/CargaUsuario/Index">Usuarios</a>              
        </div>
        <div>             
            <a href="/CargaVista/Index">Vistas</a>
        </div>
        <br />
        <div>
            <a href="/Home/Index">Volver</a>            
        </div>
    </body>
</html>